<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="./View/Assets/CSS/Ranking.css">

        <script defer type="text/javascript" src="./View/Assets/JS/Ranking.js">  </script>

        <link rel="icon" type="img/x-icon" href="./View/Assets/Images/Favicon.png">

        <title> Anime World - Ranking de Jogadores(as) </title>

    </head>

    <body oncontextmenu="return false">

        <div id="container">

            <div id="header">

                <div id="title">

                    <img src="./View/Assets/Images/Favicon.png" alt="Icon">

                    <h1> Anime World - Ranking </h1>

                </div>

                <div id="refresh">

                    <button id="botao_recarregar" title="Recarregar ranking" onclick="listagem_jogadores()"></button>

                </div>

            </div>

            <div id="search">

                <label for="usuario"> Pesquisar: </label>
                <input id="usuario" type="search" name="usuario" placeholder="Insira o nome de um usuário aqui para procurá-lo."
                min="2" maxlength="25">

                <button onclick="pesquisar_jogador()"> Procurar </button>

            </div>

            <div id="table">

                <span id="fields">

                    <p> Posição </p>

                    <p> Jogador(a) </p>

                    <p> Recorde </p>

                </span>

                <div id="data">  </div>

            </div>

        </div>
        
    </body>

</html>