<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="./View/Assets/CSS/Ranking.css">

        <script defer type="text/javascript" src="./View/Assets/JS/Ranking.js">  </script>

        <link rel="icon" type="img/x-icon" href="./View/Assets/Images/Favicon.png">

        <title>Document</title>

    </head>

    <body>
        
    </body>

</html>