* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("../Images/Wallpapers/Naruto.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

#background_gradient {

    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(0deg, #202020, transparent);

}

#author {

    background-image: url("../Images/GitHub.png");
    left: 50px;

}

#ranking {

    background-image: url("../Images/Ranking.png");
    right: 50px;

}

#author, #ranking {

    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    background-color: #FFFFFF;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #202020;
    border-radius: 10px;
    cursor: pointer;

}

#title {

    height: 15%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 50px;
    bottom: 20px;
    color: #FFFFFF;
    text-align: center;

}

#title img {

    height: 80%;

}

#title h1 {

    margin-left: 15px;
    font-size: 30px;
    cursor: text;

}

#theme {

    height: 15%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;

}

#theme label {

    padding: 10px;
    font-size: 25px;
    color: #FFFFFF;
    cursor: text;

}

#theme select {

    padding: 10px;
    border: 2px #FFFFFF solid;
    border-radius: 5px;
    background-color: transparent;
    background-color: #FFFFFF;
    font-size: 20px;
    color: #202020;
    cursor: pointer;

}

#background_gradient form {

    height: 15%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 50px;
    bottom: 20px;
    text-decoration: none;
    cursor: default;

}

#background_gradient form button {

    border: 2px #FFFFFF solid;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: 1s;

}

#background_gradient form button:hover {

    border: 2px #FFFF00 solid;
    color: #FFFF00;
    transition: 1s;

}

#background_gradient form button:active {

    border: 2px #FFFFFF solid;
    color: #FFFFFF;
    transition: 0s;

}